body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: white;
    cursor: pointer;
}

body.chaos {
    background-color: black;
}

.container {
    text-align: center;
    padding-top: 100px;
}

#title {
    font-size: 60px;
    color: black;
}

body.chaos #title {
    color: red;
}

#instruction {
    color: gray;
    margin-bottom: 50px;
}

body.chaos #instruction {
    display: none;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.shape {
    width: 80px;
    height: 80px;
    background-color: black;
    display: inline-block;
    margin: 10px;
}

.circle {
    border-radius: 50%;
}

body.chaos .shape {
    position: fixed;
}

body.chaos .shape:nth-child(1) { background-color: red; }
body.chaos .shape:nth-child(2) { background-color: blue; }
body.chaos .shape:nth-child(3) { background-color: yellow; }
body.chaos .shape:nth-child(4) { background-color: green; }
body.chaos .shape:nth-child(5) { background-color: orange; }
body.chaos .shape:nth-child(6) { background-color: purple; }
body.chaos .shape:nth-child(7) { background-color: pink; }
body.chaos .shape:nth-child(8) { background-color: cyan; }
body.chaos .shape:nth-child(9) { background-color: lime; }
body.chaos .shape:nth-child(10) { background-color: magenta; }
body.chaos .shape:nth-child(11) { background-color: brown; }
body.chaos .shape:nth-child(12) { background-color: lightblue; }
