body {
  overflow: hidden;
  background-color: #0a0a0a;
  color: #d0d0d0;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
}

.left {
    width:25%;
    display:block;
    float:left;
    padding-left:30px;
  }
  
  .right {
    width:70%;
    display:block;
    float:right;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100vh;
  }
  
  img {
    width:100%;
  }
  
  @media screen and (max-width: 992px) {
    .left {
      width:60%;
      float:none;
      margin:0 auto;
      text-align:center;
      padding:0px;
    }
    .right {
      width:80%;
      text-align:center;
      float:none;
      margin:0 auto;
      overflow-y:hidden;
      overflow-x:hidden;
      height:auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    .left {
      width:100%;
    }
    .right {
      width:100%;
    }
  }

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #e8e8e8;
  margin-bottom: 0.5em;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  color: #4a5899;
  margin-bottom: 1.5em;
  font-style: italic;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #e8e8e8;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

a {
  color: #4a5899;
  text-decoration: none;
  border-bottom: 1px dotted #4a5899;
  transition: all 0.2s ease;
}

a:hover {
  color: #6a78b9;
  border-bottom: 1px solid #6a78b9;
}

.artwork-info {
  margin-bottom: 2em;
}

.artist {
  font-size: 0.9em;
  color: #a0a0a0;
  margin-bottom: 0.5em;
  font-style: italic;
}

.description {
  font-size: 0.95em;
  line-height: 1.7;
}
